# e.g.
# storage__active=
# storage__ghost-oss-store__accessKeyId=
# storage__ghost-oss-store__accessKeySecret=
# storage__ghost-oss-store__bucket=
# storage__ghost-oss-store__region=
# storage__ghost-oss-store__fileKey__prefix=ghost/
# storage__ghost-oss-store__fileKey__folderByDate=true